    <!-- Google Tag Manager (head) -->
<script>
(function(w,d,s,l,i){
  w[l]=w[l]||[];
  w[l].push({'gtm.start': new Date().getTime(), event:'gtm.js'});
  var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),
      dl=l!='dataLayer' ? '&l='+l : '';
  j.async=true;
  j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
  f.parentNode.insertBefore(j,f);
})(window, document, 'script', 'dataLayer', 'G-MHNSFHGZV4');
</script>
<!-- End Google Tag Manager -->

<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=G-MHNSFHGZV4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
    <header class="header">
      <div class="header-left">
        <a href="{{ '/' | relative_url }}"> <!-- Link to the home section or any URL (e.g., "/") -->
          <img src="{{ '/assets/images/logo_.png' | relative_url }}" alt="Data Automation Experts Logo">
        </a>
      <h1>Data Automation eXPerts</h1>
      </div>
      <nav class="nav">
        <a href="{{ '/' | relative_url }}" class="nav-link"><b>Home</b></a>
        <a href="{{ '/' | relative_url }}#services" class="nav-link"><b>Services</b></a>
        <a href="{{ '/' | relative_url }}#about" class="nav-link"><b>About</b></a>
        <a href="{{ '/' | relative_url }}#blog" class="nav-link"><b>Blog</b></a>
        <a href="{{ '/' | relative_url }}#contact" class="nav-link"><b>Contact</b></a>
      </nav>
    </header>